<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
          
<h:head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Product</title>
    <style>
    	.height-adjust{
    		height: 98vh;
    	}
    	.box{
    		background-color: ;
    		text-align: center;
    		padding-top: 1em;
    		padding-bottom: 1em;
    		border-radius: 4px;
    		height: 95%;
    	}
    </style>
    <h:outputStylesheet library="css"  name="primeflex.css" />
</h:head>
    
<h:body>
    <p:panel header="CXTRONIC" id="panel-main">
	<div class="ui-g">
    	
    	<div class="ui-g-2 height-adjust">
        	<div class="box">
        		<p:panel header="Menu">
	          		<p:commandButton value="Reabastecer" action="#{navigationManagedBean.reabastecer}" update="pagina" />
	          		<p:commandButton value="Saque" action="#{navigationManagedBean.saque}" update="pagina" />
          		</p:panel>
			</div>
        </div>
          
        <div class="ui-g-8 height-adjust">
			<p:outputPanel deferred="false" id="pagina" styleClass="box">
				<ui:include src="#{navigationManagedBean.pagina}"></ui:include>
				
				
				
				
			</p:outputPanel>
		</div>
          
        <div class="ui-g-2 height-adjust">
          	<div class="box">
          		<p:panel header="Lista de Cedulas">
			        <p:dataTable id="tableCedulas" var="cedula" value="#{caixaController.cedulas}" styleClass="for-update">
			            <p:column>
			                <f:facet name="header">Cedula</f:facet>
			                <h:outputText value="#{cedula.cedula.descricao}" />
			            </p:column>
			
			            <p:column>
			                <f:facet name="header">Quantidade</f:facet>
			                <h:outputText value="#{cedula.quantidade}" />
			            </p:column>
			        </p:dataTable>
			    </p:panel>
          	</div>
        </div>
        
	</div>
    </p:panel>
</h:body>
</html>