<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

	<ui:composition>
		<h:form id="cedulaForm">
		    <p:panel header="Adicionar Cedula">
		            
		            <p:outputLabel for="cedula" value="Cedula: "/>
		            <p:selectOneMenu id="cedula" value="#{caixaController.cedulaReabastecer.cedula}">
			            <f:selectItem itemLabel="--SELECIONE A CEDULA DESEJADA--" itemValue="" />
			            <f:selectItem itemLabel="Dois" itemValue="DOIS" />
			            <f:selectItem itemLabel="Cinco" itemValue="CINCO" />
			            <f:selectItem itemLabel="Dez" itemValue="DEZ" />
			            <f:selectItem itemLabel="Vinte" itemValue="VINTE" />
			            <f:selectItem itemLabel="Cinquenta" itemValue="CINQUENTA" />
			            <f:selectItem itemLabel="Cem" itemValue="CEM" />
			        </p:selectOneMenu>

		            <br/>

		            <p:outputLabel for="quantidade" value="Quantidade: "/>
		            <p:inputNumber id="quantidade" value="#{caixaController.cedulaReabastecer.quantidade}" decimalPlaces="0"/>

		            <br/>

		            <p:commandButton value="Adicionar" update=":panel-main" actionListener="#{caixaController.reabastecerCedula}" />
		
		    </p:panel>
		</h:form>
	</ui:composition>
</html>