<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
      
<ui:composition>
	<p:panel id="panel-saque">
				
		<h:form rendered="#{navigationManagedBean.menuCashOutIsVisible}">
			<p:layoutUnit position="center">
				<p:outputLabel for="valorSaque" value="Valor de saque: "/>
	    	    <p:inputNumber id="valorSaque" value="#{caixaController.valorSaque}" decimalPlaces="2" />
				<p:commandButton value="Escolher Cedulas" action="#{navigationManagedBean.choiceCash}" update="panel-saque" />
		        <p:commandButton value="Sacar" action="#{navigationManagedBean.cashOut}" update="panel-saque" />
		        <p:commandButton value="Atualizar" actionListener="#{caixaController.opcoesSaque}" />
		    </p:layoutUnit>
		</h:form>
		
	    <h:form rendered="#{navigationManagedBean.choiceCashIsVisible}">
		    <p:layoutUnit position="center">
	    	    <p:commandButton value="Sacar" action="#{navigationManagedBean.cashOut}" update=":panel-saque" />
	    	    
		    	    <p:dataTable id="tableOpcoesSaque" rowKey="r" var="opc" value="#{caixaController.listOpc}" rendered="#{not empty caixaController.listOpc}" >
		    	    	<p:columns value="#{opc}" var="opc2">
		    	    		<h:outputText value="#{opc2.descricao}" />
		    	    	</p:columns>
					</p:dataTable>
						    	    	    	    
		    </p:layoutUnit>
	    </h:form>
	    
	    <h:form rendered="#{navigationManagedBean.cashOutIsVisible}">
		    <p:layoutUnit position="center">
		        <p:commandButton value="Escolher Cedulas" actionListener="#{navigationManagedBean.choiceCash}" update=":panel-saque" />
		    </p:layoutUnit>
	    </h:form>
	    
    </p:panel>
</ui:composition>
</html>